.bienvyfoto {
    background-image: url(../media/portada.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 120px;
    padding-bottom: 80px;
}

.foto{
    width: 200px; 
    height: 200px;
}

.title{
    text-align: center;
    font-weight: bold;
    background-color: $tertiary-color;
}

.title{
    padding: 100px 0;
}

.fotoalejo{
   text-align: center;
}

.home{
    margin-bottom: 10px;
}

article{
    border-color: $dark;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}