* {
    margin: 0;
    padding: 0;
}

.bienvyfoto {
    background-color: darkgray;
    margin: 10px 0;
    padding: 20px;
}

.foto{
    width: 200px; 
    height: 200px;
}

.bienvenido {
    text-align: center;
    padding: 20px;
    font-weight: bold;
}

.fotoalejo {
   text-align: center;
   padding: 20px;
}

footer{
    background-color: lightblue;
    padding: 50px;
}

/*PROYECTOS*/


/*CONTACTO*/

.contactame{
    padding: 100px;
    background-color: darkgray;
    margin: 10px 0;
}

.main2{ 
    background-color: whitesmoke;
}
